body {
    font-family: sans-serif;
}

.genPage * {
    outline: none;
}

.genPage .wrapper {
    min-width: 740px;
    margin: 0 auto;
    border: 1px solid #49be9f;
    box-sizing: border-box;
    min-height: 300px;
    margin-top: 10px;
    max-width: 1500px;
    -moz-transform-origin: top center;
    transform-origin: top center;
}

.genPage .wrapper label {
    float: left;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.genPage .wrapper label img {
    width: 100%;
    float: left;
}

.genPage p.title {
    text-align: center;
    background: #49be9f;
    color: white;
    width: 740px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: normal;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.32);
    height: 30px;
    line-height: 30px;
}

.genPage .generate {
    margin: 0 auto;
    width: 740px;
    position: relative;
    text-align: center;
}

.genPage .clearfix {
    clear: both;
}

.genPage .result label {
    width: 240px;
    float: left;
}

.genPage .result label span {
    width: 80px;
    background: #49be9f;
    text-align: center;
    display: block;
    float: left;
    color: white;
    margin-bottom: 0px;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.genPage .randomInput {
    margin: 0 auto;
    width: 360px;
    padding-left: 10px;
    box-sizing: border-box;
    padding-right: 0px;
    border-top: 1px solid #49be9f;
    padding-top: 10px;
    border-bottom: 1px solid #49be9f;
    padding-bottom: 10px;
    background: rgba(73, 190, 159, 0.81);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all .52s;
    /* Safari */
    transition: all .52s;
    z-index: 111;
    border-radius: 10px;
}

.genPage .randomInput[status*="false"] {
    left: -350px;
}

.genPage .randomInput label {
    width: 120px;
    display: inline-block;
    float: left;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 0px #757575;
}

.genPage input {
    position: relative;
    float: left;
}

.genPage span.value {
    float: left;
    width: 20px;
    height: 20px;
    background: #49be9f;
    margin-right: 1px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.genPage button.random {
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    width: 200px;
    height: 30px;
    font-size: 17px;
    color: white;
    text-shadow: 1px 1px 1px rgba(66, 66, 66, 0.53);
    box-shadow: 3px 3px 0px rgba(199, 199, 199, 0.37);
    text-transform: uppercase;
    background: #9dd53a;
    background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
    -webkit-transition: all .2s; 
    transition: all .2s;
}

.genPage button.random:hover {
    box-shadow: none;
}

.genPage .randomInput p {
    padding: 0;
    margin: 0;
    clear: both;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
}

.genPage p.module {
    opacity: 0.2;
    display: none;
}

.genPage p.module[status="active"] {
    opacity: 1;
    display: block;
}

.genPage button.menuLeft {
    position: absolute;
    top: 40px;
    right: -36px;
    width: 75px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    transform: rotate(90deg);
    z-index: 999;
}

.genPage select.selectedBg {
    width: 190px;
}

.genPage select.selectedCenterModule {
    width: 190px;
}
